<!DOCTYPE html>
<html lang="en" ng-app="wsi">
<head>
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.min.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

  <meta name="viewport" content="initial-scale=1" />
</head>
<body class="md-padding" style="font-family:Open sans;">


<md-content class="md-padding" ng-controller="WsiCtrl">

<h2>Stock Ratios</h2>
<div layout="column" style="min-width:400px;">
    <div layout="row">
        <ng-form name="benForm" layout="column">

            <md-input-container>
              <label>Stock Ticker</label>
              <input type="text" ng-model="ben.ticker" name="ticker" required>
            </md-input-container>

            <md-button class="md-raised md-primary" ng-click="getCompanyData()" ng-disabled="benForm.ticker.$invalid">Get Ticker Data</md-button>
        </ng-form>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            {{quote.Name}} 
        </div>
        <div layout="column" flex="50">
            {{quote.LastTradePrice | currency}}
        </div>
    </div>

    <hr/>

    <div layout="row">
        <div layout="column" flex="50">
            Market Cap
        </div>
        <div layout="column" flex="50">
            {{quote.MarketCapitalization}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            Annual Revenue (M)
        </div>
        <div layout="column" flex="50">
            {{ratios.revenue*100000 | currency:"$":0}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            Current Ratio
        </div>
        <div layout="column" flex="50">
            {{ratios.currentRatio}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            Long-term Debt Coverage Ratio
        </div>
        <div layout="column" flex="50">
            {{ratios.longTermDebtCoverageRatio | number:2}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            P/E
        </div>
        <div layout="column" flex="50">
            {{quote.PeRatio}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            Book Value/Share
        </div>
        <div layout="column" flex="50">
            {{quote.priceToBook | number:2}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            Years of dividend
        </div>
        <div layout="column" flex="50">
            {{ratios.dividendTotal}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            Dividend Annual Total $
        </div>
        <div layout="column" flex="50">
            {{ratios.dividend}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            10yr. Average Revenue
        </div>
        <div layout="column" flex="50">
            {{ratios.revenuetenyr}}
        </div>
    </div>

    <div layout="row">
        <div layout="column" flex="50">
            Years of positive income
        </div>
        <div layout="column" flex="50">
            {{ratios.netincome}}
        </div>
    </div>

    <hr/>

    Total Points = {{calculatepts()}}
</div>
</md-content>

<script src="bower_components/jquery/dist/jquery.min.js"></script>
<!-- Angular Material Dependencies -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-animate/angular-animate.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.min.js"></script>
<script src="bower_components/angular-messages/angular-messages.min.js"></script>
<script src="bower_components/angular-material/angular-material.min.js"></script>

<script src="app.js"></script>

</body>
</html>