<md-card>
	<md-card-content layout="column">
    	<b>Login</b>
    	<div layout="column" layout-gt-xs="row">
        	<div layout="column" flex>
              	<md-input-container flex>
                    <label>Confirmation Number</label>
                    <input type="password" name="password" ng-model="login.confirmation" required/>
                </md-input-container>
                <div layout="row">
					<md-button class="md-raised md-primary" ng-click="confirm()">Confirm</md-button>
					<md-button class="md-raised" ui-sref="index.calculator">Cancel</md-button>
				</div>
            </div>
    	</div>
    </md-card-content>
</md-card>