<h1>
	Help
</h1>
<h3>
	Cache
</h3>
<p>
	Available methods
	<ul style="line-height: 2">
		<li>
			<b>GET Term Quote</b> ---- quote/:gender/:birthyear/:state/:health/:tobacco/:coverage<br/>
			Example: quote/Male/1980/MN/GOOD/false/250000
		</li>
		<li>
			<b>GET Term Quote Cache</b> ---- quote/cache
		</li>
		<li>
			<b>DELETE Term Quote Cache</b> ---- quote/cache/clear
		</li>
	</ul>	
</p>
<h3>
	States
</h3>
<p>
	Available methods
	<ul style="line-height: 2">
		<li>
			<b>GET States</b> ---- states/
		</li>
		<li>
			<b>GET Refresh States Date</b> ---- states/refresh
		</li>
	</ul>	
</p>