<md-card>
	<md-card-content layout="column">
    	<b>Login</b>
    	<div layout="column" layout-gt-xs="row">
        	<div layout="column" flex>
				<md-input-container flex>
                    <label>Email</label>
                    <input type="text" name="email" ng-model="login.email"
                           maxlength="50" required />
                </md-input-container>
              	<md-input-container flex>
                    <label>Password</label>
                    <input type="password" name="password" ng-model="login.password"
                           maxlength="50" required/>
                </md-input-container>
                <div layout="row">
					<md-button class="md-raised md-primary" ui-sref="index.login">Login</md-button>
					<md-button class="md-raised" ui-sref="index.login.signup">Or Sign-up</md-button>
					<md-button class="md-raised" ui-sref="index.calculator">Cancel</md-button>
				</div>
            </div>
    	</div>
    </md-card-content>
</md-card>